.animated-list-item {
  $item-height: 110px;
  $duration: 250ms;

  &-enter, &-leave {
    transition: all $duration ease-in;
  }

  // Entering Start
  &-enter {
    height: 0;
    opacity: 0;
  }
  // Entering Complete
  &-enter-active {
    height: $item-height;
    opacity: 1;
  }

  // Leaving Start
  &-leave {
    height: $item-height;
    opacity: 1;
  }
  // Leaving Complete
  &-leave-active {
    height: 0;
    opacity: 0;
  }
}
